---
title: Welcome to Middleman
---

.page 
  %h1 Ruby Under a Microscope

  %h2 Have You Ever Wondered How Ruby Works Internally?
  
  %p Everyone knows that Ruby is a powerful language. Its dynamic nature allows you to concisely write the code you need to actually solve a problem instead of burying yourself under mountains of boilerplate. You don't have to fight it; you just get to enjoy the ride.

  %p But how is the magic created? And can you trust it? After all, MRI is written in C - a statically typed, compiled language which is pretty much the antithesis of Ruby. What dark voodoo is breathed into C to enable Ruby's features - closures, metaprogramming, and so much more?
  
  %h2 Find out with Science!

  %p <strong>Ruby Under a Microscope</strong> will guide you through the internals of some of Ruby's most-used facets. Using a combination of experimentation, theory, and two truckloads of diagrams, you'll see clearly how Ruby is implemented.

  %p Here's a science fact for you: before they understood the nature of combustion, Enlightenment chemists believed fire resulted from the release of a negative-weight particle called "phlogiston". Then Antoine-Laurent Lavoisier knocked that theory on its ass by discovering and proving how combustion really works. 

  %p This book will offer you the same clarity. Instead of pointing at a Ruby block and yelling, "Phlogiston!", you'll be able to lucidly explain how Ruby copies variables from the stack to the heap in order to allow access to them even after a function has returned.

  %p Have no clue what that means? Well, that's exactly why you need to read this book.

  %h2 People Already Love It and It Doesn't Even Fully Exist

  %p Here's what people are already saying about <strong>Ruby Under a Microscope</strong>:

  %blockquote
    I've just read the Ruby Under a Microscope chapter and I can't wait to read more. Congrats!
    %footer
      &ndash;
      %cite
        Rafael Lima

  %blockquote
    Normally anything that starts with "internals" is boring to read, but Pat Shaughnessy made the Ruby hash interesting.
    %footer
      &ndash;
      %cite
        Andreas Arnold
  %blockquote
    You have done an excellent job taking the internals and making them exciting and digestible. I really look forward to the full book.
    %footer
      &ndash;
      %cite
        Parker Selbert