---
title: Welcome to Middleman
---

.page 
  %h1 Ruby Under a Microscope

  #teaser
    %img{:src => "/images/whatvoodoo.jpg"}

  %h2 Have You Ever Wondered How Ruby Works Internally?
  
  %p Everyone knows that Ruby is a powerful language. Its dynamic nature allows you to concisely write the code you need to actually solve a problem instead of burying yourself under mountains of boilerplate. You don't have to fight it; you just get to enjoy the ride.

  %p But how is the magic created? And can you trust it? After all, MRI is written in C - a statically typed, compiled language which is pretty much the antithesis of Ruby. What <strong>dark voodoo</strong> is breathed into C to enable Ruby's features - closures, metaprogramming, and so much more?
  
  %h2 Find out with Science!

  %p Ruby Under a Microscope will guide you through the internals of some of Ruby's most-used facets. Using experimentation, theory, and two truckloads of diagrams, you'll <strong>clearly see how Ruby is implemented</strong>.

  .diagram
    %img{:src => "/images/tokenize.png"}
    .caption Here's just one of the diagrams out of the two truckloads. <br />Did you think that was a exaggeration? Well, it isn't!

  %p Here's a science fact for you: before they understood the nature of combustion, Enlightenment chemists believed fire resulted from the release of a negative-weight particle called "phlogiston". Then Antoine-Laurent Lavoisier knocked that theory on its ass by discovering oxygen and proving how combustion really works. 

  %p This book will offer you the same clarity. Instead of pointing at a Ruby block and yelling, "Phlogiston!", you'll be able to lucidly explain how Ruby copies variables from the stack to the heap in order to allow access to them even after a function has returned.

  %p Have no clue what that means? Well, that's exactly why you need to read this book.

  %p And good news: you don't need to know a lick of C! If you can't tell your pointers from your pointers to pointers, then have no fear. <strong>Ruby Under a Microscope is accessible to anyone</strong> with an interest in learning how Ruby works internally.

  %h2 People Already Love It

  %p Here's what people are already saying about <strong>Ruby Under a Microscope</strong>:

  %blockquote
    I've just read the Ruby Under a Microscope chapter and I can't wait to read more. Congrats!
    %footer
      &ndash;
      %cite
        Rafael Lima

  %blockquote
    Normally anything that starts with "internals" is boring to read, but Pat Shaughnessy made the Ruby hash interesting.
    %footer
      &ndash;
      %cite
        Andreas Arnold
  %blockquote
    You have done an excellent job taking the internals and making them exciting and digestible. I really look forward to the full book.
    %footer
      &ndash;
      %cite
        Parker Selbert

  %h2 About Pat

  #mugshot
    %img{:src => "/images/pat2.jpeg"}
    
  %p
    %a{:href => "http://www.patshauhnessy.net"}Pat Shaughnessy
    is a prolific Ruby programmer, author, and interviewer. He works with Rails professionally and writes for
    = succeed "." do
      %a{:href => "http://rubysource.com/author/pshaughnessy/"}RubySource.com
    You can also find him on <a href="http://twitter.com/patshaughnessy">twitter</a>.

  %p Pat has two awesome kids and a wife from Spain. Aye, carumba!
  %p Pat knows his pointers and his pointers to pointers. He also knows PHP, but he's trying very hard to bury that part of his past.
  %p Another thing about Pat - he's given a bunch of talks, and they've all been good. If you need to give a talk, don't give one on the same night as Pat unless you like being shown up.