---
title: Welcome to Middleman
---

.page 
  %h1 How Ruby Magic?
  
  %p Everyone know that Ruby is a powerful language. Its dynamic nature allows you to concisely write the code you need to actually solve a problem instead of burying yourself mountains of boilerplate. You don't have to fight it; you just get to enjoy the ride.

  %p But where does the magic come from? And can you trust it? After all, MRI is written in C - a statically typed, compiled language which is pretty much the antithesis of Ruby. What dark voodoo is breathed into C to enable Ruby's features - closures, metaprogramming, and so much more?
  
  %h2 Find out with Science!

  %p Demistify intriguing topics, like how closures are implemented.